{{!< layout }} <div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="text-center p-8 bg-white shadow-lg rounded-lg">
    <h1 class="text-3xl font-bold mb-6">Outlook Login</h1>
    <a id="outlook-login" href="/auth/outlook/login"
      class="inline-block bg-blue-600 text-white text-lg font-semibold py-2 px-4 rounded-full shadow-md hover:bg-blue-700 transition duration-300">
      Add Outlook Account
    </a>
  </div>
  </div>
